# --- Python -------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- Build & packaging --------------------------------------------------------
build/
dist/
*.egg-info/
*.egg
.eggs/

# --- Environments -------------------------------------------------------------
.env
.venv
env/
venv/

# --- senda outputs ------------------------------------------------------------
ligands_libraries/
logs/
output/

# --- AMBER binary and output files --------------------------------------------
*.nc
*.mdcrd
*.crd
*.rst7
*.inpcrd
*.parm7
*.prmtop
*.out
*.mdin

# --- Gaussian -----------------------------------------------------------------
*.chk
*.fchk

# --- Jupyter ------------------------------------------------------------------
.ipynb_checkpoints/

# --- OS & editors -------------------------------------------------------------
.DS_Store
.idea/
.vscode/
*.swp
